@font-face {
  font-family: 'Headland One';
  font-style: normal;
  font-weight: 400;
  src: local('Headland One'), local('HeadlandOne-Regular'), url(HeadlandOne.woff) format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(QuicksandRegular.woff) format('woff');
}
